:root { 
--white_A700_7f:#ffffff7f; 
--blue_gray_100_26:#cfdbd526; 
--black_900_3f:#0000003f; 
--light_blue_900:#005b9c; 
--green_A700:#22e23d; 
--yellow_800:#f79e1b; 
--blue_gray_100_1b:#cfdbd51b; 
--pink_500:#f20089; 
--blue_gray_900:#2f2e41; 
--pink_300:#ff6884; 
--red_A700:#eb001b; 
--yellow_800_01:#f2ae14; 
--deep_orange_100:#ffb6b6; 
--gray_600:#747a80; 
--blue_900:#0e4595; 
--blue_gray_100_75:#cfdbd575; 
--blue_gray_100:#cfdbd5; 
--light_blue_900_01:#00447c; 
--blue_gray_50_63:#ebf0f063; 
--black_900_0f:#0d0a190f; 
--amber_300:#f4c952; 
--blue_A700_99:#0052ff99; 
--pink_500_6c:#f200896c; 
--cyan_800:#007b84; 
--black_900_14:#0d0a1914; 
--white_A700:#ffffff; 
--blue_gray_50_99:#ebf0f099; 
--blue_gray_50:#ebf0f0; 
--blue_gray_100_43:#cfdbd543; 
--red_700:#e21836; 
--blue_A700:#0052ff; 
--gray_500_3f:#999ba83f; 
--light_blue_600:#00a2e5; 
--white_A700_72:#ffffff72; 
--amber_A400:#ffbd00; 
--black_900_d8:#000000d8; 
--light_blue_800:#016fd0; 
--black_900:#000000; 
--blue_gray_100_b2:#cfdbd5b2; 
--blue_gray_800:#3f3d56; 
--blue_gray_50_19:#ebf0f019; 
--blue_gray_100_90:#cfdbd590; 
--blue_gray_50_01:#e8ebef; 
--orange_A700:#ff5f00; 
--gray_900:#1e1e1e; 
--gray_500_2d:#999ba82d; 
--black_900_a7:#000000a7; 
--gray_300:#e6e6e6; 
--gray_100:#f2f2f2; 
--indigo_300:#7375cf; 
--white_A700_00:#ffffff00; 
--blue_gray_50_b2:#ebf0f0b2; 
--blue_gray_100_4c:#cfdbd54c; 
--indigo_500:#473ecd; 
}